<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title>Mondrian Playground</title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
           <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
             <li class="nav-item">
               <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item active" >
               <a class="nav-link" href="/">Playground </a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="https://github.com/vvkorz/mondrian" target="_blank">GitHub</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="https://hub.docker.com/r/vvkorz/mondriango" target="_blank">Docker Hub</a>
             </li>
           </ul>
         </div>
      </nav>
      
      <div class="container-fluid">
         <div class="row justify-content-md-center">
            <div class="col col-md-4 text-center">
               <h2>Mondrian Playground</h2>
            </div>
         </div> 
      </div> 
      <form id="form" method="post" action="/">
         <div class="container-fluid">
            <div class="row justify-content-md-center">
               <div class="col col-md-4 text-center">
                  <label for="complexityRange" class="form-label" data-toggle="tooltip" data-placement="top" title="The lower the complexity number, the less partitions are made.">Complexity:</label>
                  <input id="complexityRange" class="form-range" type="range" name="complexity" value="{{.Complexity}}" min="0.001" max="0.05" step="0.001" oninput="this.nextElementSibling.value = this.value">
                  <output>{{.Complexity}}</output>
               </div>
            </div>
            <div class="row justify-content-md-center">
               <div class="col col-lg-4 text-center">
                  
                  <select class="form-select  form-select-lg mb-3" name="style" id="style">
                     <option {{if .IsRectandLine}} selected {{end}} value="rectandline">lines</option>
                     <option {{if .IsRect}} selected {{end}} value="rect">no lines</option>
                  </select>
               </div>
            </div>
            <div class="row justify-content-md-center">
               <div class="col col-md-4 text-center">
                  <!--    <input type="submit" value="Generate">-->
                  <button type="submit" class="btn btn-warning btn-lg btn-block" onclick = "GFG_Fun()"> Generate! </button>
               </div>
            </div>
         </div>
      </form>
      <hr/>
      <div class="container-fluid">
         <div class="row justify-content-md-center">
            <div class="col col-md-8 text-center">
               <img src='img/mondrian_image.png' class="img-fluid" alt="Mondrian image"  style='border:1px solid black;'>
            </div>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   </body>
</html>
